# the most recent version of intake-xarray (v3.2.2) only supports the OPeNDAP
# servers by URS and ESGF, the fork bellow allows for connecting to general OPeNDAP servers
intake
xarray
zarr
fsspec>=0.7.4
pydap
netcdf4!=1.5.4,!=1.5.5,!=1.5.5.1 # this is due to https://github.com/Unidata/netcdf4-python/issues/1052
s3fs
ipfsspec
requests
intake-xarray>=0.3.2
