# the most recent version of intake-xarray (v3.2.2) only supports the OPeNDAP
# servers by URS and ESGF, the fork bellow allows for connecting to general OPeNDAP servers
intake[dataframe] # since intake 0.6.1 to_dask() doesn't work anymore without the [dataframe] specification due to a missing msgpack dependency
xarray
zarr
fsspec>=0.7.4
netcdf4!=1.5.4,!=1.5.5,!=1.5.5.1,!=1.6.0 # this is due to https://github.com/Unidata/netcdf4-python/issues/1052 and a CURL error in 1.6.0 (https://github.com/Unidata/netcdf-c/issues/2459)
s3fs
ipfsspec
requests
intake-xarray>=0.3.2
