# the most recent version of intake-xarray (v3.2.2) only supports the OPeNDAP
# servers by URS and ESGF, the fork bellow allows for connecting to general OPeNDAP servers
-e git+https://github.com/leifdenby/intake-xarray#egg=intake-xarray
tlz
xarray
intake
intake-xarray
fsspec>=0.7.4
s3fs
pydap
