name: eurec4a_intake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [radiosondes or dropsondes,
                   radiative_profiles,
                   barbados,
                   satellites,
                   Atalante, Meteor, RonBrown, Meteor, Merian,
                   BOREAL, CU-RAAVEN, IFM, MPCK, QuadCopter,
                   Caravela or Humpback or Kracken or Melonhead,
                   Omura,
                   ATR, HALO, P3, TO,
                   SD-, Skywalker, SVP-, SWIFT, WG]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies (pip)
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest
        # the intake-xarray puts it's source in src/ because we're installing
        # from github directly, but we don't want to run its tests
        python -m pytest --ignore=src/ -k "${{ matrix.platform }}"
